$v-relative-paths: false;

@import "../valo/valo";
@import "admin-lte";

//.admin-lte {
//  @include valo;
//}

.v-generated-body {
	background-color: #d2d6de !important;
}

.test {
	color: red !important;
	margin-bottom: 0.5em;
}
