<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../styles.css">
</head>
<body class="v-app admin-lte webui" xmlns:th="http://www.thymeleaf.org">
	<div class="test" th:utext="#{home.welcome}">Welcome!</div>

<!--/*/
	<vaadin-vertical-layout>
		<vaadin-text-field _id="name" caption="Name" th:caption="#{form.name}" style-name="test test2"></vaadin-text-field>
		<vaadin-text-field _id="address" caption="Address" th:caption="#{form.address}"></vaadin-text-field>
	</vaadin-vertical-layout>
/*/-->
<!--/*--> 
	<div location="4ee037c0-0a42-41f8-a907-76d50c64ec5b">
		<div class="v-verticallayout v-layout v-vertical v-widget v-has-width"
			style="width: 100%;">
			<div class="v-slot v-slot-test v-slot-test2">
				<div class="v-widget v-has-caption v-caption-on-top">
					<div class="v-caption v-caption-test v-caption-test2"
						id="gwt-uid-2" for="gwt-uid-3">
						<span class="v-captiontext" th:text="#{form.name}">名前</span>
					</div>
					<input type="text"
						class="v-textfield v-widget test v-textfield-test test2 v-textfield-test2"
						id="gwt-uid-3" aria-labelledby="gwt-uid-2" tabindex="0">
				</div>
			</div>
			<div class="v-slot">
				<div class="v-widget v-has-caption v-caption-on-top">
					<div class="v-caption" id="gwt-uid-4" for="gwt-uid-5">
						<span class="v-captiontext">住所</span>
					</div>
					<input type="text" class="v-textfield v-widget" id="gwt-uid-5"
						aria-labelledby="gwt-uid-4" tabindex="0">
				</div>
			</div>
		</div>
	</div>
<!--*/-->

	<div class="test">Copyright</div>
</body>
